<footer id="footer" class="bg-primary text-white mb-20 sm:mb-0">
    <nav class="container mx-auto py-7 flex flex-wrap justify-center gap-12 px-5 sm:px-5">
        <section class="">
            <h1 class="font-title text-2xl">Informations légales</h1>
            <ul class="font-text font-light pl-2 mt-1">
                <li><a class="whitespace-nowrap" href="#">Mentions légales</a></li>
                <li><a class="whitespace-nowrap" href="#">Politique de confidentialité</a></li>
                <li><a class="" href="#">Conditions générales d'utilisation</a></li>
            </ul>
        </section>
        <section>
            <h1 class="font-title text-2xl whitespace-nowrap">À propos</h1>
            <ul class="font-text font-light pl-2 mt-1">
                <li><a href="#">Qui suis-je?</a></li>
                <li><a href="#">Plan du site</a></li>
            </ul>
        </section>
        <section>
            <h1 class="font-title text-2xl">Contact</h1>
            <ul class="font-text font-light pl-2 mt-1">
                <li><a href="#">Me contacter</a></li>
            </ul>
        </section>
    </nav>
    <p class="bg-white font-text text-center text-primary">© Pauline Pluchart 2024 - Tous droits réservés</p>
</footer>